*~

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Product files
*.7z
*.zip
*.cjr
*.result.txt

# Visual Studio Project Files
.vs
*.filters
*.user

/build
/src/Debug
/src/Release
/src/jrasm/Debug
/src/jrasm/Release
/src/lib/Debug
/src/lib/Release
/